# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/
Generated\ Files/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# JetBrains Rider and ReSharper
.idea/
*.sln.iml
*.DotSettings.user
_ReSharper*/
*.[Rr]e[Ss]harper
